Search term:
<input type="text" name="" [(ngModel)]="searchTerm">

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let contact of contacts | filter:searchTerm">
      <a>
      <td>{{ contact.firstName |uppercase }}</td>
      </a>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }}</td>   
      <td><button (click) = "removeContact(contact)" class="btn btn-danger">Remove contact</button>
      </td>   
    </tr>
    </tbody>
</table>
